$color-primary: #3498db;
$color-primary-hover: #2980b9;
$color-warning: #e74c3c;
$color-warning-hover: #c0392b;
$text-white: #ffffff;
$color-sucess: #2ecc71;
$color-sucess-hover: #27ae60;
$theme-primary: #6495ed;
$light-grey: #e5e5e5;
$dark-grey: #a9a9a9;
$text-black: #000000;
$color-red: #ff0000;