.detailContainer {
    text-align: center;
    margin-top: 10px;

    h3 {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .content {
        img {
            width: 270px;
            height: 370px;
        }
    }
}